<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" >
    <title>Pet</title>
</head>
<body>
<div class="container-fluid p-5">
<h2>Thank you for your order!</h2>
    <br>
    <br>
    <br>

<h4 class="badge-success">You ordered a {{ @SESSION.pet }}  with color of {{ @SESSION.color}}</h4>
    <br>
<h4>Pet name: {{ @SESSION.petName}}</h4>
    <br>
    <br>

<a href="order">Place another order</a>
    <br>
    <br>
<a href="{{@BASE}}">Home Page</a>
</div>

</body>
</html>