<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" >
    <title>Pet</title>
</head>

<body>
<div class="container-fluid p-5">
<h3> Enter a nice name for your pet</h3>
    <br>
    <br>
    <br>

    <form method="post" action="summary">
        <label>Pet Name:
            <input type="text" name="petName" placeholder="enter a name for your pet">
        </label>

        <br>
        <br>
        <br>
        <input class="btn btn-success active" type="submit" value="Place Order">

    </form>
</div>
</body>
</html>